In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [4]:
data = pd.read_csv('./DatasetCleaning.csv')

x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

data.head()

,IS_top_5_league,Based_rich_nation,Is_top_ranked_nation,EU_National,Caps,Apps,Age,Reputation,Is_top_prev_club,Last_Transfer_Fee,Salary
0,0,1,2,1,200.0,673,38.0,7629.0,0,0,203478000.0
1,0,1,2,1,97.0,555,35.0,8250.0,0,0,199452000.0
2,0,1,2,1,124.0,340,31.0,9000.0,1,0,149589000.0
3,0,1,2,0,0.0,245,25.0,7414.0,0,0,74157000.0
4,1,1,2,1,70.0,221,24.0,9415.0,0,0,48467000.0

## # Split the dataset into features (X) and target variable (y)

In [ ]:
from sklearn.